<!DOCTYPE html>
<html lang='en'>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=9'>
    <title>{{ page.title }}</title>
    <meta name='viewport' content='width=device-width, user-scalable=no, maximum-scale=1.0'>
    <link rel='icon' href='./page_files/images/favicon.png'>
    <link rel='stylesheet' type='text/css' href='resources/css/default.css'>
    <script src='resources/js/analytics.js'></script>
    {% for include in page.includes %}
        {% capture extension %}{{ split include '.' | last | downcase }}{% endcapture %}
        {% if extension == 'js' %}
            <script src='{{ include }}'></script>
        {% else %}
            <link rel='stylesheet' href='{{ include }}' type='text/css' />
        {% endif %}
    {% endfor %}
    {% if page.style %}
    <style>
        {{ page.style }}
    </style>
    {% endif %}
    {% if page.script %}
    <script>
        {{ page.script }}
    </script>
    {% endif %}
</head>
<body>
    <div class='container'>
        {{ content }}
    </div>
    <div class='footer blue'>
        <a href="/">icomatic.io</a> |
        <a href="/faq.html">FAQ</a> |
        <a href="/privacy.html">Privacy Policy</a> |
        <img src="./page_files/images/twitter.svg" style="margin:0;vertical-align:text-bottom">
        <a href="https://twitter.com/icomatic">icomatic</a> |
        &copy; Copyright 2013 Icomatic. All rights Reserved.
    </div>
</body>
</html>